extends layout

block head
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
  script(src='/js/jq/jquery.min.js')
  script(src='/js/jq/jquery.easing.min.js')
  script(src='/js/jq/jquery.scrollto.min.js')
  script(src='/js/jq/jquery.nav.js')
  script(src='/js/slabtext.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/socket.js')
  script(src='/js/main.js')

block content
  #blog.section
    .container
      .content
        .row
          br
          br
          .title
            h2 Blog 
              img.header-img(src='images/blog.png')
            .hr.hr-small.hr-center
              span.hr-inner
            p Blog Evolution.
  if(blog)
    - var section = 1
    for entry in blog
      if(section == 1)        
        - var section = 0
        .section
          .container
            .content
              .row
                .text-block
                  .title-l
                    a(href='blog/#{entry.html}')
                      h3 #{entry.title}
                      p.small #{entry.written}
                        .hr.hr-small.hr-left
                          span.hr-inner
                  p 
                    if (entry.head_image)
                      img.float-l.head-img(src='blog/images/#{entry.head_image}')
                    !{entry.article}
                  br
                  p.float-r Written by:
                    br
                    a(href='/profile/#{entry.author}') #{entry.author_name}
      else    
        - var section = 1
        .section.section-alt
          .container
            .content
              .row
                .text-block
                  .title-l
                    a(href='blog/#{entry.html}')
                      h3 #{entry.title}
                      p.small #{entry.written}
                        .hr.hr-small.hr-left
                          span.hr-inner
                  p 
                    if (entry.head_image)
                      img.float-l.head-img(src='blog/images/#{entry.head_image}')
                    !{entry.article}
                  br
                  p.float-r Written by:
                    br
                    a(href='/profile/#{entry.author}') #{entry.author_name}
  #footer
    &copy; 2013 The Mind Company
