extends layout

block head
  link(rel='stylesheet', href='../css/main.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
  script(src='/js/jq/jquery.min.js')
  script(src='/js/jq/jquery.easing.min.js')
  script(src='/js/jq/jquery.scrollto.min.js')
  script(src='/js/jq/jquery.nav.js')
  script(src='/js/slabtext.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/socket.js')
  script(src='/js/main.js')
  script(src='/js/social.js')

block navigation
  li
    a.external(href='previous.html', onClick='history.back();return false;') Back 
  li
    p | 

block content
  #labs.hero.section-alt
    .slogan
      if(lab)
        .container
          .content
            .row
              .text-block.span9
                br
                br
                .title-l
                  h2 #{lab.title}
                  p.small #{lab.written}
                    .hr.hr-small.hr-left
                      span.hr-inner
                p 
                  if (lab.head_image)
                    img.float-l.head-img(src='images/#{lab.head_image}')
                  !{lab.article}
                br
                p.float-r Written by:
                  br
                  a(href='/profiles/#{lab.author}') #{lab.author_name}
                .shareaholic-canvas(data-app='share_buttons', data-app-id='265515')
              #side-menu.text-right.span3
                br
                br
                .title-r
                  a(href='/laboratory')
                    h3 Other Laboratory Entries
                      .hr.hr-small.hr-right
                        span.hr-inner
                for labs in lab_entries
                  li
                    a(href='#{labs.html}') #{labs.title} 
  #footer
    &copy; 2013 The Mind Company
