doctype 5
html
  head
    title #{title}
    meta(name='description', content='')
    meta(name='author', content='Brandn L. Clark')
    meta(name='HandheldFriendly', content='true')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    block head
    
  body.home.color-1
    #header
      .container
        .row
          i#nav-button.icon-circle-arrow-down
          h2#logo
            a(href='/') The 
              span.highlight Mind 
              | Company
          #top-nav
            ul#fixed-nav
              if(navi)
                block navigation
                for navItem in navi
                  li
                    if(navItem.external === 'true')
                      a.external(href='#{navItem.location}') #{navItem.title}
                    else
                      a(href='#{navItem.location}') #{navItem.title}
  block content
